<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="status.css"> 
        <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div id="content">
        <div id="heading">Studio Tickets</div>
        <div id="stats">
          <div class="row">
            <div class="label"> loading </div>
            <div class="value"> N/A </div>
          </div>
          <div class="row">
            <div class="label"> loading </div>
            <div class="value"> N/A </div>
          </div>
          <div class="row">
            <div class="label"> loading </div>
            <div class="value"> N/A </div>
          </div>
          <div id="latest_title">Most recent</div>
          <div id="most_recent">
            <div id="author_name"> Herp </div> <div id="title"> fdajfda fdaf daf daf das fda fda fdaaaaa fda fda fda fda  fasfaaaa fdafd fda fd af dasaaf das </div>
          </div>
        </div>
      </div>
    </body>
</html>